.block1 {
    background-image: url(admissions-hero-compressor.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-height: 800px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    margin-right: 0;
}
.block1__overlay {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    min-height: 800px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    margin-right: 0;
}
.block1__container {
    align-items: center;
    display: flex;
    justify-content: center;
}
.block1__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 30px;
}
.block1__container__left {
    max-width: 50%;
}
.block1__container__right {
    max-width: 50%;
}
.block1__heading h1 {
    color: white;
    max-width: 560px;
    font-size: 35px;
    font-weight: 1000;
}

.block1__left__wrapper {
    max-width: 535px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.block1__card1 {
    width: 120px;
    background-color: #3F99DC;
    color: white;
    padding: 32px 24px 32px 24px;
    height: auto;
    border-radius: 10px;
}
.block1__card2 {
    width: 120px;
    background-color: #005792;
    color: white;
    padding: 32px 24px 32px 24px;
    height: auto;
    border-radius: 10px;
}
.block1__card3 {
    width: 120px;
    background-color: #126DAC;
    color: white;
    padding: 32px 24px 32px 24px;
    height: auto;
    border-radius: 10px;
}
.block1__card4 {
    width: 120px;
    background-color: #005792;
    color: white;
    padding: 32px 24px 32px 24px;
    height: auto;
    border-radius: 10px;
}
.block1__card5 {
    width: 120px;
    background-color: #126DAC;
    color: white;
    padding: 32px 24px 32px 24px;
    height: auto;
    border-radius: 10px;
}
.block1__card6 {
    width: 120px;
    background-color: #3F99DC;
    color: white;
    padding: 32px 24px 32px 24px;
    height: auto;
    border-radius: 10px;
}
.elementor-icon-box-icon {
    margin-bottom: 15px;
}
.block1__brochure {
    background-color: #FFC107;
    /* border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFC107; */
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    width: 150px;
    text-align: center;
}
.block1__explore {
    background-color: #61CE7000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    /* width: 150px; */
    padding: 10px;
}
.block1__explore a {
    color: white;
    text-align: center;
}
.block1__placements {
    background-color: #61CE7000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    /* width: 150px; */
    padding: 10px;
}
.block1__placements a {
    color: white;
    text-align: center;
}
.form {
    background-color: white;
    padding: 80px 20px 80px 20px;
    border-radius: 10px;
}
