.block5-courses{
    margin-top: 15px;
    background-color: #f8f9fa;
    padding: 50px;
    font-size: 35px;
    color: black;
    text-align: center;
}
.block5 {
    width: 100%;
}

.block5 a {
    width: 100%;
}
.block5 img {
    margin: 0;
}
