body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
}